body{
	background: url(landing.jpg);
	background-size: cover;
	background-position: center;
	font-family: Lato;
}
html{
	height: 100%;
}
.landingH{
	color: white;
	
}
#landingH1{
     font-weight: 700;
     font-size: 5em;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.thumbnail img{
	width: 100%;
}

.thumbnail{
	padding: 0;
}
.thumbnail .caption-full{
	padding: 9px;
}
#content{
	text-align: center;
	padding-top: 12%;
	text-shadow:0px 4px 3px rbga(0,0,0,0.4),
	            0px 8px 13px rbga(0,0,0,0.1),
	            0px 18px 23px rbga(0,0,0,0.1);
}
