<% include partials/header %>
<div class="container">
    <header class="jumbotron" align="center">
       <div class="container">
         <h1>Welcome to Movieflix</h1>
         <p>The only place to find the best of movies in the world!</p> 
         <p>
               <a class="btn btn-primary btn-lg" href="/movies/new">Add new movie</a>
         </p>
       </div>  
    </header>

    <div class="row" style="display:flex; flex-wrap:wrap;">
		<% movies.forEach(function(movie){%>
			<div class="col-md-3 col-sm-6">
			   <div class="thumbnail">
                  <img src="<%=movie.poster%>">
                 <div class="caption" align="center">
                  <h4><%=movie.title%></h4>
			           </div>
            <p align="center">
                <a href="/movies/<%= movie._id%>" class="btn btn-primary" >More Info</a>
            </p>
			   </div>
			  </div>
		<%})%>
	</div>	
</div>
<% include partials/footer %>